.bookCover {
  --width: 69px;
  --height: 95px;
  --radius: 5px;
  font-size: $font-size-medium-x;

  .coverImg {
    width: var(--width);
    height: var(--height);
    border-radius: var(--radius);
  }
}
