$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;

$theme-color: linear-gradient(0deg, #e2ecf6 0%, #e2ecf6 100%);
$theme-sub-color: #f0f2f5;
